body{
	margin: 0;
	padding: 0;
}


.bg-edit{
	background-color: #8ebdb0;
	width:400%;
	height: 20%;

}

#s1 div {
	display: inline-block;

}

#s1 a{
	color: white;
	padding-left: 5px;
}

#s1 i{
	padding-left: 50px;
}

#s1 #div1{
	float: left;
	margin-left: 40px;
	color: white;
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl{

	padding-left: 0;
}



#s2 img{
	margin-left: 20px;
	width: 250px;
	height: 100px;
}

#s2 ul{
	margin-left: 900px;
	padding: 20px;
	font-size: 20px;
  font-family: 'Baloo Chettan 2', cursive;

}


#s2 .navbar-expand-lg .navbar-nav .dropdown-menu{
	position: static;
}

#s2 .dropdown-menu{
	margin: 0;
	padding: 0;
	width: 190px;
	height: 120px;
	text-align: center;
	font-family: 'Baloo Chettan 2', cursive;
}
#s3 .centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  
 
}

#s3 pre{

    font-family: 'Abril Fatface', cursive;

    font-family: 'Anton', sans-serif;

    font-family: 'Baloo Chettan 2', cursive;

    font-family: 'Gravitas One', cursive;
    font-size: 40px;
    margin-top: -190px;
    color: white;
    text-align: center;
padding: 0;

}


#s8{
	
	align-content: center;
	
	width: 100%;
	margin-left: 50px;
}

#s8 .container{
	margin-top: 100px;
}








#s6 h3 {
	text-align: center;
	color: #8ebdb0;
	font-family: 'Rubik', sans-serif;
	font-family: 'Anton', sans-serif;
	margin-top: 100px;

}

#s6 table {
	margin-left: 15%;
	margin-top: 4%;
}

.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    width: 800px;
    margin-left: 15%;


}

.ui-helper-reset {
margin: 0 0 0 15%;
    padding: 0px;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
padding-left: 500px;

}

#s6 .p6 {
	margin-left: 75%;
	color: grey;
	margin-top: 30px;
}

#s6 p {
	font-family: Arial,Helvetica,sans-serif;
}

#s6 img {
	width: 200px;
	height: 200px;
   margin-left: 75%;
}

#s7 footer {
	height: 80px;
}

#s6 button {
	background-color: white;
	width: 90px;
	height: 30px;
	margin-bottom: 100px;
	margin-left: 75%;
}

 #s8 hr {
	width: 900px;
	color: #8ebdb0;
	background-color: #8ebdb0;
	margin-top: 150px;

}

#s8 img {
	width: 259px;
	height:194px;
}

#s8 h3 {
	color:#8ebdb0;
	font-family: 'Rubik', sans-serif;
	font-family: 'Anton', sans-serif;
	margin-top: 20px;
    text-decoration: 5px underline;
    text-decoration-color: #e9f285;

}


#s9{
	margin-top: 200px;
	margin-bottom: 100px;
}

#s9 hr {

	width: 400px;
	size: 20px;
	height: 7px;
}

#s9 .sc {
	text-align: center;
	color:#8ebdb0;
	font-family: 'Rubik', sans-serif;
	font-family: 'Anton', sans-serif;
	font-size: 50px;

}

.carousel-inner {
    position: relative;
    width: 80%;
    overflow: hidden;
    }


#s9 img {
	width: 500px;
	height: 700px;
}


#s5 footer {
	background-color: #3d3a3a;
	color:white;
}

footer {
	height: 200px;
	width: 100%;
}

.links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      text-decoration: none;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}

h5 a {
	color: white;
}

#s5 a {
    color: #fefeff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}